@model Hotels302.Models.Hotel

@{
    ViewBag.Title = "Otel Detay";
}

<h2>Detaylar</h2>

<div>
    <h4>Hotel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.City.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Town.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Town.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HotelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Explanation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Explanation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomCapacity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd>
            <img src="@Html.DisplayFor(m => m.Foto)" width="auto" height="auto" />
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.CreateDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreateDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UpdateDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UpdatedBy)
            </dd>*@

    </dl>
</div>
<div class="d-flex justify-content-between align-items-center">
    <div class="btn-group">

        <a class="btn btn-success btn-sm" href="@Url.Action("Edit","Hotels",new { id = Model.Id })">Düzenle</a>
        <a class="btn btn-success btn-sm" href="@Url.Action("Create","Reservations",new { id = Model.Id,hotel=Model.HotelName })">Rezervasyon Oluştur</a>

        <a class="btn btn-success btn-sm" href="@Url.Action("Index","Home",new { id = Model.Id })">Listeye Geri Dön</a>
        <hr />
    </div>

</div>
